/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* background: linear-gradient(45deg, #c27acf, #353635); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #cec2c2;
    /* background: linear-gradient(45deg, #c27acf, #353635); */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100vw;
    min-height: 100vh;
  }
  
  h1 {
    margin-bottom: 20px;
    font-size:30px;
    color: #333;
    
    font-family: emoji;

  }
  
  .button-container {
    display: flex;
        flex-direction: column;
        gap: 25px;
        margin-top: 20px;
        align-items: center;
  }
  
  button {
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background: linear-gradient(45deg, #c27acf, #353635);
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    width: 50%;
    min-width: 250px;
    font-family: emoji;

  }

  button:hover {
    background: linear-gradient(45deg, #66BB6A, #388E3C); /* Darker gradient on hover */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button:active {
    background-color: #388e3c;
  }
  